body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transaction-row {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
}

/* .transaction-row.even { */
.transaction-row.even {
  background-color: #F8F8F8;
}


.custom-property-editor-header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.custom-property-editor-container button,
.main-form-components-container button {
  text-transform: none;
}

.transaction-row [data-type="id"] { flex: 0.5; }
.transaction-row [data-type="time"] { flex: 1; }
.transaction-row [data-type="title"] { flex: 5; }
.transaction-row [data-type="debit"] { flex: 3; }
.transaction-row [data-type="credit"] { flex: 3; }
.transaction-row [data-type="amount"] { flex: 2; }

.monospace-input input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rules-container {
  /* flex-wrap: wrap; */
  width: 100%;
}

.if-then-container {
  display: flex;
  width: 100%;
}
