@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.transaction-list-container {
  padding: 5;
  display: flex;
  flex-direction: column;

  overflow: auto;
}

.transaction-list-info-line {
  display: flex;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 1; /* For material ui icon */
  background-color: white;
}

.transaction-list-table {
  border: none;
  border-spacing: 0;
}

.transaction-row {
  background-color: white;
  transition: .1s;
}

.transaction-row:hover {
  background-color:rgba(173, 216, 230, 0.5);
}

.transaction-row.even {
  background-color: #F8F8F8;
}




.custom-property-editor-header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.custom-property-editor-container button,
.main-form-components-container button {
  text-transform: none;
}

.monospace-input input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rules-container {
  /* flex-wrap: wrap; */
  width: 100%;
}

.if-then-container {
  display: flex;
  width: 100%;
}

/* Hides the twisties in <details>. See */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#customizing_the_disclosure_widget */
details > summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}
